#contact {  /* Styles pour la section "contact" */
  display: flex;
  justify-content: center;
}

#contact .chatbot-container {
  width: 500px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact #chatbot {
  background-color: #f5f5f5;
  border: 1px solid #eef1f5;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#contact #header {
  background-color: darkslategrey;
  color: #ffffff;
  padding: 20px;
  font-size: 1em;
}

#contact .chatbot-message {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact #input-form {
  display: flex;
  align-items: center;
  border-top: 1px solid #eef1f5;
}

#contact #input-field {
  flex: 1;
  border: none;
  background: #ffffff;
  padding: 10px;
}

#contact .send-icon {
  margin-right: 10px;
}
