{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ hotel.nom }} - Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'assets/css/place.css' %}" />
    <link
      rel="stylesheet"
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    />
  </head>
  <body>
    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <!-- Loop to display hotel photos -->
              {% for photo in hotel.photos.all %}
              <img src="{{ photo.image.url }}" alt="{{ hotel.nom }} photo" />
              {% endfor %}
            </div>
          </div>
          <div class="img-select">
            <!-- Loop for selectable thumbnails -->
            {% for photo in hotel.photos.all %}
            <div class="img-item">
              <a href="#" data-id="{{ forloop.counter }}">
                <!-- Use forloop.counter for index -->
                <img
                  src="{{ photo.image.url }}"
                  alt="{{ hotel.nom }} thumbnail"
                />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- card right -->
        <div class="product-content">
          <h2 class="product-title">{{ hotel.nom }}</h2>
          <a href="https://shorturl.at/afS09" class="product-link"
            >For Booking</a
          >

          <div class="product-rating">
            <!-- Display hotel rating with stars -->
            {% for _ in hotel.rate_range %}
            <i class="fas fa-star"></i>
            {% endfor %} {% for _ in hotel.neg_rate_range %}
            <i class="far fa-star"></i>
            {% endfor %}
            <span>{{ hotel.rating }}</span>
          </div>

          <div class="product-price">
            <p class="last-price">
              <!-- Old Price with an icon -->
              <i class="fa-solid fa-tag"></i>
              <!-- Icon representing the regular price -->
              Old Price: <span>{{ hotel.prix }} MAD</span>
            </p>
            <p class="new-price">
              <!-- Conditionally include the icon if there's a promotion -->
              {% if hotel.promo > 0 %}
              <i class="fa-solid fa-coins"></i>
              <!-- Icon indicating the promotional price -->
              New Price:
              <span>{{ hotel.calculate_total_price_with_promotion }} MAD</span>
              {% else %} New Price: <span>{{ hotel.prix }} MAD</span>
              {% endif %}
            </p>
          </div>

          <div class="product-detail">
            <h2>About This Hotel:</h2>
            <p>{{ hotel.description }}</p>
          </div>

          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'assets/js/place.js' %}"></script>
  </body>
</html>
