{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dream Travel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <!-- Block for additional CSS -->
    {% block extra_css %} {% endblock %}
  </head>
  <body>
    <header>
      <div id="menu-bar" class="fas fa-bars"></div>
      <a href="#" class="logo"><span>Dream</span>Travel</a>
      <nav class="navbar">
        <a href="{% url 'app_siteweb:index' %}">Home</a>
        <a href="{% url 'app_siteweb:places' %}">places</a>
        <a href="#services">Services</a>
        <a href="#review">Review</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <!-- Content block -->
    {% block content %}
    <!-- Add your content here -->
    {% endblock %}

    <!-- Optional JavaScript block -->
    {% block extra_js %}
    <!-- <script src="{% static 'assets/js/custom.js' %}"></script> -->
    {% endblock %}
  </body>
</html>
