{% load static %}  <!-- Charger le module pour les fichiers statiques -->
<section class="packages" id="packages">
    <h1 class="heading">
        <span>H</span>
        <span>O</span>
        <span>T</span>
        <span>E</span>
        <span>L</span>
        <span>S</span>
    </h1>

    <div class="box-container">
        {% for hotel in hotels %}
        <div class="box">
            {% with hotel.photos.first as photo %}
                {% if photo %}
                    <img src="{{ photo.image.url }}" alt="{{ hotel.nom }}">
                {% else %}
                    <img src="{% static 'assets/images/placeholder.png' %}" alt="No image">
                {% endif %}
            {% endwith %}
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> {{ hotel.nom }}</h3>
                <p>{{ hotel.description }}</p>

                 {% load custom_filters %}

                {% comment %} <div class="stars">
                    {% for _ in hotel.rating|to_range %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% for _ in 5|to_range %}
                        <i class="far fa-star"></i>
                    {% endfor %} {% endcomment %}
                    <div class="stars">
                        {% for _ in hotel.rate_range %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for _ in hotel.neg_rate_range %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    </div>
                    
                      
                <div class="price">{{ hotel.calculate_total_price_with_promotion }} MAD
                    {% if hotel.promo > 0 %}
                        <span>{{ hotel.prix }} MAD</span>
                    {% endif %}
                </div>
                <a href="#" class="btn">book now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
